COMPOSE_PROJECT_NAME=
#Odoo
ODOO_IMAGE=
ODOO_TAG=
ODOO_PORT=10017
ODOO_CONTAINER=
# ODOO_CHAT_PORT=
ODOO_ADDONS=./addons
ODOO_CONFIG=./etc
ODOO_BACKUP=./backup/ce
#Database
PG_PORT=
PG_DB=
PG_USER=
PG_PASS=
ENTRYPOINT=./entrypoint.sh
